In [4]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from datetime import datetime

# Create Spark session with Iceberg support
spark = SparkSession.builder \
    .appName("BackfillSimulation") \
    .getOrCreate()

print(f"Spark Version: {spark.version}")
print(f"Session started at: {datetime.now()}")

Spark Version: 3.5.5
Session started at: 2026-01-22 12:57:33.164308

26/01/22 12:57:33 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [5]:
%%sql
show databases;

26/01/22 12:57:36 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+-----------+
| namespace |
+-----------+
|   default |
+-----------+

In [6]:
%%sql
show tables in default;

+-----------+----------------+-------------+
| namespace |      tableName | isTemporary |
+-----------+----------------+-------------+
|   default |   accounts_all |       False |
|   default | latest_summary |       False |
|   default |        summary |       False |
+-----------+----------------+-------------+

In [9]:
%%sql
select * from default.latest_summary

+---------------+---------+--------------+---------+------------------+-------------------+------------------+--------------+---------------+----------------+-------------------------+--------------------------------+--------------------------+---------+-----------+----------------+-----------------+---------+------------+---------------+-------------+---------------+-------------------+-----------------+--------------+---------------+----------------------+---------------------------+--------------------+-------------------------+---------------------+---------------------------+-----------------------+------------------------+
| cons_acct_key | acct_dt | rpt_as_of_mo | base_ts | bureau_member_id | acct_pymt_stat_cd | acct_type_dtl_cd | acct_stat_cd | pymt_terms_cd | asset_class_cd | suit_filed_willful_dflt | written_off_and_settled_status | portfolio_rating_type_cd | open_dt | closed_dt | dflt_status_dt | last_payment_dt | emi_amt | balance_am | days_past_due | past_due_am | charge_off_am | actual_payment_am | credit_limit_am | orig_loan_am | interest_rate | payment_history_grid | actual_payment_am_history | balance_am_history | credit_limit_am_history | past_due_am_history | payment_rating_cd_history | days_past_due_history | asset_class_cd_history |
+---------------+---------+--------------+---------+------------------+-------------------+------------------+--------------+---------------+----------------+-------------------------+--------------------------------+--------------------------+---------+-----------+----------------+-----------------+---------+------------+---------------+-------------+---------------+-------------------+-----------------+--------------+---------------+----------------------+---------------------------+--------------------+-------------------------+---------------------+---------------------------+-----------------------+------------------------+
+---------------+---------+--------------+---------+------------------+-------------------+------------------+--------------+---------------+----------------+-------------------------+--------------------------------+--------------------------+---------+-----------+----------------+-----------------+---------+------------+---------------+-------------+---------------+-------------------+-----------------+--------------+---------------+----------------------+---------------------------+--------------------+-------------------------+---------------------+---------------------------+-----------------------+------------------------+

In [11]:
%%sql
select cons_acct_key,rpt_as_of_mo from default.accounts_all order by cons_acct_key, rpt_as_of_mo

+---------------+--------------+
| cons_acct_key | rpt_as_of_mo |
+---------------+--------------+
|             1 |      2016-01 |
|             1 |      2016-02 |
|             1 |      2016-03 |
|             1 |      2016-04 |
|             1 |      2016-05 |
|             1 |      2016-06 |
|             1 |      2016-07 |
|             1 |      2016-08 |
|             1 |      2016-09 |
|             1 |      2016-10 |
|             1 |      2016-11 |
|             1 |      2016-12 |
|             1 |      2017-01 |
|             1 |      2017-02 |
|             1 |      2017-03 |
|             1 |      2017-04 |
|             1 |      2017-05 |
|             1 |      2017-06 |
|             1 |      2017-07 |
|             1 |      2017-08 |
|             1 |      2017-09 |
|             1 |      2017-10 |
|             1 |      2017-11 |
|             1 |      2017-12 |
|             1 |      2018-01 |
|             1 |      2018-02 |
|             1 |      2018-03 |
|             1 |      2018-04 |
|             1 |      2018-05 |
|             1 |      2018-06 |
|             1 |      2018-07 |
|             1 |      2018-08 |
|             1 |      2018-09 |
|             1 |      2018-10 |
|             1 |      2018-11 |
|             1 |      2018-12 |
|             1 |      2019-01 |
|             1 |      2019-02 |
|             1 |      2019-03 |
|             1 |      2019-04 |
|             1 |      2019-05 |
|             1 |      2019-06 |
|             1 |      2019-07 |
|             1 |      2019-08 |
|             1 |      2019-09 |
|             1 |      2019-10 |
|             1 |      2019-11 |
|             1 |      2019-12 |
|             1 |      2020-01 |
|             1 |      2020-02 |
|             1 |      2020-03 |
|             1 |      2020-04 |
|             1 |      2020-05 |
|             1 |      2020-06 |
|             1 |      2020-07 |
|             1 |      2020-08 |
|             1 |      2020-09 |
|             1 |      2020-10 |
|             1 |      2020-11 |
|             1 |      2020-12 |
|             1 |      2021-01 |
|             1 |      2021-02 |
|             1 |      2021-03 |
|             1 |      2021-04 |
|             1 |      2021-05 |
|             1 |      2021-06 |
|             1 |      2021-07 |
|             1 |      2021-08 |
|             1 |      2021-09 |
|             1 |      2021-10 |
|             1 |      2021-11 |
|             1 |      2021-12 |
|             1 |      2022-01 |
|             1 |      2022-02 |
|             1 |      2022-03 |
|             1 |      2022-04 |
|             1 |      2022-05 |
|             1 |      2022-06 |
|             1 |      2022-07 |
|             1 |      2022-08 |
|             1 |      2022-09 |
|             1 |      2022-10 |
|             1 |      2022-11 |
|             1 |      2022-12 |
|             1 |      2023-01 |
|             1 |      2023-02 |
|             1 |      2023-03 |
|             1 |      2023-04 |
|             1 |      2023-05 |
|             1 |      2023-06 |
|             1 |      2023-07 |
|             1 |      2023-08 |
|             1 |      2023-09 |
|             1 |      2023-10 |
|             1 |      2023-11 |
|             1 |      2023-12 |
|             1 |      2024-01 |
|             1 |      2024-02 |
|             1 |      2024-03 |
|             1 |      2024-04 |
+---------------+--------------+

In [13]:
%%sql
select cons_acct_key, count(distinct cons_acct_key, rpt_as_of_mo) from default.accounts_all group by cons_acct_key

+---------------+---------------------------------------------+
| cons_acct_key | count(DISTINCT cons_acct_key, rpt_as_of_mo) |
+---------------+---------------------------------------------+
|             5 |                                         120 |
|             1 |                                         120 |
|             3 |                                         120 |
|             2 |                                         119 |
|             4 |                                         120 |
+---------------+---------------------------------------------+

In [16]:
%%sql 
select cons_acct_key, rpt_as_of_mo from default.accounts_all where cons_acct_key =2 order by rpt_as_of_mo

+---------------+--------------+
| cons_acct_key | rpt_as_of_mo |
+---------------+--------------+
|             2 |      2016-01 |
|             2 |      2016-02 |
|             2 |      2016-03 |
|             2 |      2016-04 |
|             2 |      2016-05 |
|             2 |      2016-06 |
|             2 |      2016-07 |
|             2 |      2016-09 |
|             2 |      2016-10 |
|             2 |      2016-11 |
|             2 |      2016-12 |
|             2 |      2017-01 |
|             2 |      2017-02 |
|             2 |      2017-03 |
|             2 |      2017-04 |
|             2 |      2017-05 |
|             2 |      2017-06 |
|             2 |      2017-07 |
|             2 |      2017-08 |
|             2 |      2017-09 |
|             2 |      2017-10 |
|             2 |      2017-11 |
|             2 |      2017-12 |
|             2 |      2018-01 |
|             2 |      2018-02 |
|             2 |      2018-03 |
|             2 |      2018-04 |
|             2 |      2018-05 |
|             2 |      2018-06 |
|             2 |      2018-07 |
|             2 |      2018-08 |
|             2 |      2018-09 |
|             2 |      2018-10 |
|             2 |      2018-11 |
|             2 |      2018-12 |
|             2 |      2019-01 |
|             2 |      2019-02 |
|             2 |      2019-03 |
|             2 |      2019-04 |
|             2 |      2019-05 |
|             2 |      2019-06 |
|             2 |      2019-07 |
|             2 |      2019-08 |
|             2 |      2019-09 |
|             2 |      2019-10 |
|             2 |      2019-11 |
|             2 |      2019-12 |
|             2 |      2020-01 |
|             2 |      2020-02 |
|             2 |      2020-03 |
|             2 |      2020-04 |
|             2 |      2020-05 |
|             2 |      2020-06 |
|             2 |      2020-07 |
|             2 |      2020-08 |
|             2 |      2020-09 |
|             2 |      2020-10 |
|             2 |      2020-11 |
|             2 |      2020-12 |
|             2 |      2021-01 |
|             2 |      2021-02 |
|             2 |      2021-03 |
|             2 |      2021-04 |
|             2 |      2021-05 |
|             2 |      2021-06 |
|             2 |      2021-07 |
|             2 |      2021-08 |
|             2 |      2021-09 |
|             2 |      2021-10 |
|             2 |      2021-11 |
|             2 |      2021-12 |
|             2 |      2022-01 |
|             2 |      2022-02 |
|             2 |      2022-03 |
|             2 |      2022-04 |
|             2 |      2022-05 |
|             2 |      2022-06 |
|             2 |      2022-07 |
|             2 |      2022-08 |
|             2 |      2022-09 |
|             2 |      2022-10 |
|             2 |      2022-11 |
|             2 |      2022-12 |
|             2 |      2023-01 |
|             2 |      2023-02 |
|             2 |      2023-03 |
|             2 |      2023-04 |
|             2 |      2023-05 |
|             2 |      2023-06 |
|             2 |      2023-07 |
|             2 |      2023-08 |
|             2 |      2023-09 |
|             2 |      2023-10 |
|             2 |      2023-11 |
|             2 |      2023-12 |
|             2 |      2024-01 |
|             2 |      2024-02 |
|             2 |      2024-03 |
|             2 |      2024-04 |
|             2 |      2024-05 |
+---------------+--------------+