In [15]:
%%sql
select count(*) from default.summary

+----------+
| count(1) |
+----------+
|      142 |
+----------+

In [7]:
%%sql
with subset as (select * from default.default.accounts_all where base_ts<= (select max(base_ts) from default.summary)),
data as (select cons_acct_key, rpt_as_of_mo, count(*) as count from subset group by cons_acct_key, rpt_as_of_mo)
select * from data where count>1

+---------------+--------------+-------+
| cons_acct_key | rpt_as_of_mo | count |
+---------------+--------------+-------+
|             1 |      2025-06 |     2 |
+---------------+--------------+-------+

In [9]:
%%sql 
select * from default.default.accounts_all where base_ts> (select max(base_ts) from default.summary) order by cons_acct_key, rpt_as_of_mo

+---------------+------------+--------------+-----------------+-------------+------------+-----------+----------------+---------------------+---------------------+---------------------+
| cons_acct_key |    acct_dt | rpt_as_of_mo | current_balance | current_dpd | payment_am | status_cd | account_status |          created_ts |          updated_ts |             base_ts |
+---------------+------------+--------------+-----------------+-------------+------------+-----------+----------------+---------------------+---------------------+---------------------+
|             1 | 2023-01-28 |      2023-01 |            3325 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-01-22 |      2023-01 |            4114 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-01-19 |      2023-01 |            3186 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-01-04 |      2023-01 |            2612 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-01-16 |      2023-01 |            2979 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-01-12 |      2023-01 |            1257 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-01-15 |      2023-01 |            1678 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-01-18 |      2023-01 |            2791 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-01-05 |      2023-01 |            1908 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-01-22 |      2023-01 |            1985 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-02-26 |      2023-02 |            3651 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-02-22 |      2023-02 |            3002 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-02-11 |      2023-02 |            3636 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-02-07 |      2023-02 |            3789 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-02-26 |      2023-02 |            3632 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-02-22 |      2023-02 |            2501 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-02-28 |      2023-02 |            4355 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-02-08 |      2023-02 |            4269 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-02-15 |      2023-02 |            1749 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-02-02 |      2023-02 |            3779 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-03-05 |      2023-03 |            2890 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-03-21 |      2023-03 |            4430 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-03-23 |      2023-03 |            3909 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-03-07 |      2023-03 |            1610 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-03-14 |      2023-03 |            3832 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-03-09 |      2023-03 |            4992 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-03-07 |      2023-03 |            1095 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-03-25 |      2023-03 |            4414 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-03-18 |      2023-03 |            2918 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-03-23 |      2023-03 |            4323 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-04-23 |      2023-04 |            4192 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-04-18 |      2023-04 |            1721 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-04-09 |      2023-04 |            2630 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-04-23 |      2023-04 |            3885 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-04-26 |      2023-04 |            4888 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-04-04 |      2023-04 |            2032 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-04-06 |      2023-04 |            2171 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-04-03 |      2023-04 |            1004 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-05-27 |      2023-05 |            1067 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-05-27 |      2023-05 |            3585 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-05-21 |      2023-05 |            4498 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-05-13 |      2023-05 |            1306 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-05-09 |      2023-05 |            2192 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-05-09 |      2023-05 |            1096 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-05-17 |      2023-05 |            4195 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-05-07 |      2023-05 |            3630 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-05-25 |      2023-05 |            3245 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-05-04 |      2023-05 |            1795 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-06-13 |      2023-06 |            2308 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-06-06 |      2023-06 |            4566 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-06-22 |      2023-06 |            1934 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-06-22 |      2023-06 |            2354 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-06-08 |      2023-06 |            2463 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-06-06 |      2023-06 |            4937 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-06-20 |      2023-06 |            2989 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-06-03 |      2023-06 |            3260 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-06-28 |      2023-06 |            1490 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-06-10 |      2023-06 |            2540 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-07-23 |      2023-07 |            4839 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-07-12 |      2023-07 |            2986 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-07-24 |      2023-07 |            2507 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-07-20 |      2023-07 |            2148 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-07-05 |      2023-07 |            3708 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-07-16 |      2023-07 |            2347 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-07-21 |      2023-07 |            3046 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-07-01 |      2023-07 |            1223 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-07-15 |      2023-07 |            1060 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-07-05 |      2023-07 |            2842 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-07-24 |      2023-07 |            1225 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-07-21 |      2023-07 |            3917 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-07-03 |      2023-07 |            1933 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-08-27 |      2023-08 |            4249 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-08-04 |      2023-08 |            3959 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-08-01 |      2023-08 |            4733 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-08-27 |      2023-08 |            3679 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-08-28 |      2023-08 |            2517 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-08-08 |      2023-08 |            2654 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-08-05 |      2023-08 |            1840 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-08-26 |      2023-08 |            4664 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-08-05 |      2023-08 |            3590 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-08-24 |      2023-08 |            3062 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-09-12 |      2023-09 |            2380 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-09-28 |      2023-09 |            3054 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-09-10 |      2023-09 |            4106 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-09-12 |      2023-09 |            1173 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-09-25 |      2023-09 |            3846 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-09-25 |      2023-09 |            1673 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-09-16 |      2023-09 |            3811 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-09-15 |      2023-09 |            4342 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-09-07 |      2023-09 |            4693 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-09-04 |      2023-09 |            2746 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-09-28 |      2023-09 |            2634 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-10-28 |      2023-10 |            1922 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-10-07 |      2023-10 |            1932 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-10-27 |      2023-10 |            1990 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-10-04 |      2023-10 |            4258 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-10-10 |      2023-10 |            4655 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-10-02 |      2023-10 |            1850 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-10-10 |      2023-10 |            4137 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
|             1 | 2023-10-01 |      2023-10 |            3121 |           0 |         50 |         0 |        CURRENT | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 | 2025-07-05 09:00:00 |
+---------------+------------+--------------+-----------------+-------------+------------+-----------+----------------+---------------------+---------------------+---------------------+

In [12]:
spark.read.table("default.default.accounts_all").coalesce(1).write.option("header", "true").mode("overwrite").format("csv").save("/home/iceberg/data/accounts_all.csv")

In [2]:
spark.read.table("default.summary").show()

+-------------+------------+--------------------+--------------------+--------------------+--------------------+---------------+-----------+--------------+-------------------+-------------------+-------------------+
|cons_acct_key|rpt_as_of_mo|         bal_history|         dpd_history|     payment_history|      status_history|current_balance|current_dpd|account_status|         created_ts|         updated_ts|            base_ts|
+-------------+------------+--------------------+--------------------+--------------------+--------------------+---------------+-----------+--------------+-------------------+-------------------+-------------------+
|            5|     2018-12|[1047, 1046, 1045...|[0, 0, 0, 0, 0, 0...|[50, 50, 50, 50, ...|[0, 0, 0, 0, 0, 0...|           1047|          0|       CURRENT|2018-12-27 15:50:30|2018-12-28 17:50:30|2018-12-27 15:50:30|
|            5|     2018-11|[1046, 1045, 1044...|[0, 0, 0, 0, 0, 0...|[50, 50, 50, 50, ...|[0, 0, 0, 0, 0, 0...|           1046|          0|       CURRENT|2018-11-27 14:34:08|2018-11-29 12:34:08|2018-11-27 14:34:08|
|            5|     2018-10|[1045, 1044, 1043...|[0, 0, 0, 0, 0, 0...|[50, 50, 50, 50, ...|[0, 0, 0, 0, 0, 0...|           1045|          0|       CURRENT|2018-10-25 10:32:15|2018-10-26 03:32:15|2018-10-25 10:32:15|
|            5|     2022-02|[1085, 1084, 1083...|[0, 0, 0, 0, 0, 0...|[50, 50, 50, 50, ...|[0, 0, 0, 0, 0, 0...|           1085|          0|       CURRENT|2022-02-24 13:47:28|2022-02-26 00:47:28|2022-02-24 13:47:28|
|            5|     2022-03|[1086, 1085, 1084...|[0, 0, 0, 0, 0, 0...|[50, 50, 50, 50, ...|[0, 0, 0, 0, 0, 0...|           1086|          0|       CURRENT|2022-03-26 08:07:04|2022-03-28 04:07:04|2022-03-26 08:07:04|
|            5|     2022-01|[1084, 1083, 1082...|[0, 0, 0, 0, 0, 0...|[50, 50, 50, 50, ...|[0, 0, 0, 0, 0, 0...|           1084|          0|       CURRENT|2022-01-20 18:49:08|2022-01-22 10:49:08|2022-01-20 18:49:08|
|            5|     2022-06|[1089, 1088, 1087...|[0, 0, 0, 0, 0, 0...|[50, 50, 50, 50, ...|[0, 0, 0, 0, 0, 0...|           1089|          0|       CURRENT|2022-06-24 19:57:59|2022-06-24 21:57:59|2022-06-24 19:57:59|
|            5|     2022-07|[1090, 1089, 1088...|[0, 0, 0, 0, 0, 0...|[50, 50, 50, 50, ...|[0, 0, 0, 0, 0, 0...|           1090|          0|       CURRENT|2022-07-25 14:43:15|2022-07-27 08:43:15|2022-07-25 14:43:15|
|            5|     2022-04|[1087, 1086, 1085...|[0, 0, 0, 0, 0, 0...|[50, 50, 50, 50, ...|[0, 0, 0, 0, 0, 0...|           1087|          0|       CURRENT|2022-04-22 09:53:23|2022-04-23 22:53:23|2022-04-22 09:53:23|
|            5|     2022-05|[1088, 1087, 1086...|[0, 0, 0, 0, 0, 0...|[50, 50, 50, 50, ...|[0, 0, 0, 0, 0, 0...|           1088|          0|       CURRENT|2022-05-28 12:27:08|2022-05-28 14:27:08|2022-05-28 12:27:08|
|            5|     2016-09|[9999, 1019, 1018...|[0, 0, 0, 0, 0, 0...|[50, 50, 50, 50, ...|[0, 0, 0, 0, 0, 0...|           9999|          0|       CURRENT|2025-07-02 10:00:00|2025-07-02 10:00:00|2025-07-02 10:00:00|
|            5|     2016-07|[1018, 1017, 1016...|[0, 0, 0, 0, 0, 0...|[50, 50, 50, 50, ...|[0, 0, 0, 0, 0, 0...|           1018|          0|       CURRENT|2016-07-24 10:13:58|2016-07-25 22:13:58|2016-07-24 10:13:58|
|            5|     2016-08|[1019, 1018, 1017...|[0, 0, 0, 0, 0, 0...|[50, 50, 50, 50, ...|[0, 0, 0, 0, 0, 0...|           1019|          0|       CURRENT|2016-08-25 14:41:31|2016-08-26 15:41:31|2016-08-25 14:41:31|
|            5|     2016-05|[1016, 1015, 1014...|[0, 0, 0, 0, 0, 0...|[50, 50, 50, 50, ...|[0, 0, 0, 0, 0, 0...|           1016|          0|       CURRENT|2016-05-24 15:43:20|2016-05-24 18:43:20|2016-05-24 15:43:20|
|            5|     2016-06|[1017, 1016, 1015...|[0, 0, 0, 0, 0, 0...|[50, 50, 50, 50, ...|[0, 0, 0, 0, 0, 0...|           1017|          0|       CURRENT|2016-06-23 09:51:20|2016-06-24 10:51:20|2016-06-23 09:51:20|
|            5|     2016-03|[1014, 1013, 1012...|[0, 0, 0, 0, 0, 0...|[50, 50, 50, 50, ...|[0, 0, 0, 0, 0, 0...|           1014|          0|       CURRENT|2016-03-24 10:38:40|2016-03-24 20:38:40|2016-03-24 10:38:40|
|            5|     2016-04|[1015, 1014, 1013...|[0, 0, 0, 0, 0, 0...|[50, 50, 50, 50, ...|[0, 0, 0, 0, 0, 0...|           1015|          0|       CURRENT|2016-04-28 15:10:29|2016-04-29 15:10:29|2016-04-28 15:10:29|
|            5|     2016-01|[1012, 1011, 1010...|[0, 0, 0, 0, 0, 0...|[50, 50, 50, 50, ...|[0, 0, 0, 0, 0, 0...|           1012|          0|       CURRENT|2016-01-21 20:17:29|2016-01-23 12:17:29|2016-01-21 20:17:29|
|            5|     2016-02|[1013, 1012, 1011...|[0, 0, 0, 0, 0, 0...|[50, 50, 50, 50, ...|[0, 0, 0, 0, 0, 0...|           1013|          0|       CURRENT|2016-02-25 13:23:22|2016-02-26 02:23:22|2016-02-25 13:23:22|
|            1|     2024-12|[4154, 1529, 2988...|[0, 0, 0, 0, 0, 0...|[50, 50, 50, 50, ...|[0, 0, 0, 0, 0, 0...|           4154|          0|       CURRENT|2025-07-05 09:00:00|2025-07-05 09:00:00|2025-07-05 09:00:00|
+-------------+------------+--------------------+--------------------+--------------------+--------------------+---------------+-----------+--------------+-------------------+-------------------+-------------------+
only showing top 20 rows

In [ ]:
spark.read.table("default.summary").coalesce(1).write.option("header", "true").mode("overwrite").format("csv").save("/home/iceberg/data/summary.csv")

AnalysisException: [UNSUPPORTED_DATA_TYPE_FOR_DATASOURCE] The CSV datasource doesn't support the column `bal_history` of the type "ARRAY<INT>".